* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.deck {
    margin: 25px;
    display: flex;
    background-color: rgb(47, 47, 255);
    padding: 25px;
    gap: 20px;
}

h1 {
    text-align: center;
    margin: 50px;
}

/* Style the card */
.card {
    width: 350px;
    height: 500px;
    border-radius: 5px;
    border: 10px solid black;
    padding: 10px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card.grass {
    border: solid rgb(233, 233, 3) 10px;
    background-color: rgb(189, 243, 107);
}

/* Style top of the card */
.card-top {
    width: 330px;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    height: 50px;
    border-bottom: solid rgb(233, 233, 3) 10px;
    align-items: center;
}

.grass .card-top {
    background-color: rgb(32, 207, 32);
}

.poke-stage {
    background-color: rgb(187, 203, 216);
    height: 30px;
    padding: 5px ;
    border-radius: 40px;
    text-align: center;
}

.poke-name {
        font-weight: bold;
}

/* style the type container */
.type-container {
    display: flex;

}

.image-background {
    width: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
}

/* Style the image */
.poke-image {
    width: 250px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: black;   
}


/* Style the pokemon type */
.poke-type {
    height: 20px;
    width: 70px;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
    font-size: 0.9rem;
}

.poke-type.grass {
    background-color: green;
}

.poke-type.poison {
    background-color: purple;
}

.description {
    padding-bottom: 50px;
}